:root {
    --bs-border-radius: 0.2rem;
    --bs-primary: #ee4d2d;
}

::-webkit-scrollbar {
    display: none;
}

body {
    background-color: rgb(235, 236, 236);
}

* {
    border-radius: var(--bs-border-radius) !important;
    /* box-sizing: border-box !important; */
}

.bg-orange {
    background-color: var(--bs-primary);
}

.text-orange{
    color:#ee4d2d;
}

.nav {
    max-height: 1rem;
}

.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: var(--bs-primary);
    --bs-btn-border-color: #fff;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #f4826c;
    --bs-btn-hover-border-color: #fff;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #f4826c;
    --bs-btn-active-border-color: #fff;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #c37564;
    --bs-btn-disabled-border-color: #fff;
}

.btn-outline-primary{
    color: #ee4d2d;
    border-color: #ee4d2d;
    --bs-btn-hover-bg: #ee4d2d;
    --bs-btn-hover-border-color: #ee4d2d;
}

code {
    padding: 5px 10px;
    display: inline-block;
  }
  
  .container-a {
    display: grid;
    /* grid-auto-flow: column; */
    grid-auto-columns: max-content;
    grid-column-gap: 10px;
    justify-content: center;
    margin: 64px 0;
  }
  
  .field-a {
    width: 75px;
    height: 75px;
    font-size: 40px;
    text-align: center;
    outline: none;
    border-radius: 5px;
    border: 1px solid #d3d3d3;
    transition-property: color, border, box-shadow, transform;
    transition-duration: 250ms;
  }
  .field-a:focus {
    outline: none;
    box-shadow: 0 0 7px #686de080;
    border: 1px solid #686de0;
    transform: scale(1.05);
  }
  
  .field-a-complete {
    border: 1px solid #6ab04c;
    color: #6ab04c;
  }
  .field-a-complete[disabled] {
    background: #6ab04c;
    opacity: 0.5;
    cursor: not-allowed;
  }
  